*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font_color: rgb(240, 240, 240);
  --nav_background: rgb(121, 61, 111);
  --background: rgb(42, 44, 45);
  --section_background: rgb(49, 51, 56);
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

body {
  background: var(--background);
  color: var(--font_color);
  font-family: arial, helvetica, verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: inherit;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--nav_background);
  margin: 0px;
  padding: 6px 0px;
  z-index: 100;
}

.main-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
}

.main-nav_link {
  margin-right: 25px;
  font-variant: small-caps;
}

.site-header {
  background: var(--background);
  height: 100%;
  padding-top: 5%;
  text-align: center;
  background-image: url("../images/test_image.jpeg");
  font-size: 5rem;
  font-weight: 100;
  text-shadow: 4px 4px 5px var(--nav_background);
  color: rgb(206, 203, 190);
  z-index: 0;
}

.main-content {
  color: var(--font_color);
  margin: 0px 45px;
  margin-top: 35px;
  background: var(--section_background);
  display: grid;
  grid-template-columns: auto auto;
  padding: 25px;
}

.main-nav_link a.active {
  text-decoration: underline;
  color: white;
}

.main-nav_link a.inactive {
  text-decoration: none;
  color: rgb(185, 185, 185);
}

.main-nav_link a.active:hover {
  transition: color 0.3s;
  color: var(--font_color);
}

.main-nav_link a.inactive:hover {
  transition: color 0.3s;
  color: var(--font_color);
}

.sections {
  padding-right: 50px;
}

.content-link {
  color: white;
}

.tutorial-tree ul,
#tutorials {
  list-style-type: none;
  border-left: 1px solid white;
  margin-left: 5px;
  padding-left: 20px;
  font-size: 22px;
  font-family: sans-serif;
}

#tutorials {
  margin: 0;
  padding: 20;
}

.tree {
  text-decoration: none;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\00BB";
  color: white;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}

.discord {
  box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 50%);
  border: transparent;
}

a {
  color: var(--font_color);
}

.introduction-blurb {
  margin-top: 0px;
}

.code {
  position: absolute;
  color: var(--font_color);
  transform: rotate3d(0.5, 2, 0, 35deg);
  width: 150%;
  height: 300%;
  top: -20%;
  left: 5%;
  z-index: 1;
  text-shadow: none;
  font-size: 25px;
  background-color: #575454;
  opacity: 0.75;
}

.main {
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: #222222;
  border-radius: 3px;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  overflow: hidden;
}

.mymods {
  margin-top: -2px;
}

img {
  transform: translate(100, 100);
  width: 100%;
  height: 100%;
  opacity: 100;
}

.divider {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.titleText {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  margin: 20px 30px;
  z-index: 4;
  text-shadow: none;
  color: var(--font_color);
}

.mainText {
  position: absolute;
  width: 35%;
  font-size: 35px;
  margin: 85px 30px;
  z-index: 4;
  text-shadow: none;
  text-align: left;
  color: var(--font_color);
}

.clickButton {
  position: absolute;
  left: 10%;
  bottom: 10px;
  color: var(--font_color);
  background-color: #7771a4;
  border-color: #a69eff;
  border-radius: 10px;
  width: 500px;
  height: 75px;
  font-size: 50px;
  z-index: 3;
}
