body {
    background: white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav h1 {
    text-align: center;
    background-image: url("../images/background.jpg");
    padding: 100px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    font-weight: 100;
    text-shadow: 4px 4px 5px rgb(22, 22, 22);
    color: rgb(241, 241, 241);
}

header {
    background: rgb(247, 247, 247);
    padding: 0px;
    margin: 0px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background: rgb(247, 247, 247);
    margin:0px;
    padding: 20px 0px 20px 0px;
}

nav li a.aactive {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

nav li {
    float: right;
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
}

li a.items {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: rgb(233, 233, 233);
    font-weight: 600;
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
}

section ul {
    list-style-type: none;
    overflow: hidden;
    background: rgb(233, 233, 233);
    color: rgb(0, 0, 0);
    margin:0px;
    padding: 20px 0px 20px 0px;
}

nav li a.inactive {
    text-decoration: none;
    color: rgb(68, 68, 68);
}

section {
    color: rgb(37, 37, 37);
    padding: 1px 0px 0px 30px;
    font-size: 25px;
    margin: 0px 0px 0px -4px;
    background: rgb(233, 233, 233);
}

footer {
    background: rgb(27, 27, 27);
    color: rgb(27, 27, 27);
    padding: 160px;
}

section h6 {
    color: rgb(80, 80, 80);
    padding: 0px 25px 0px 7px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: -12px 0px 0px -8px;
    background: rgb(233, 233, 233);
}

section h6 a.hyperlink {
    text-decoration: none;
    color: rgb(80, 80, 80);
}

section ul.versions {
    color: rgb(80, 80, 80);
    text-decoration: none;
    padding: 5px 10px 5px 7px;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: -12px 0px 0px 8px;
    background: rgb(233, 233, 233);
}

hr {
    border-width: 8px;
    background-color: rgb(233, 233, 233);
}

pre code {
    background-color: rgb(214, 214, 214);
    border: 2px solid #999;
    border-radius: 25px;
    display: block;
    padding: 20px;
}

button {
    color: rgb(80, 80, 80);
    float: right;
    align-content: flex-end;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(233, 233, 233);
}

input {
    color: rgb(80, 80, 80);
    float: right;
    align-content: flex-end;
    font-weight: 100;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(233, 233, 233);
}

.tip {
    margin: 25px;
    padding: 5px;
    max-width: 570px;
    background-color: #e1e1e1;
    border-left: solid 7px;
    text-align: left;
    border-radius: 9px;
}
  
.tip::before {
    color: #151515;
    font-size: 20px;
    white-space: pre-line;
}

.tip.warning {
    border-color: #bd1b1b;
    background-color: #f7a9a9;
    margin-left: 0%;
    margin-bottom: 1%;
}

.tip.warning h6 {
    border-color: #bd1b1b;
    background-color: #f7a9a9;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.tip.warning::before {
    content: "Warning!\A";
}