html,
body {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: inherit;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(22, 22, 32);
  margin: 0px;
  padding: 5px 0px;
}

.main-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.main-nav_link {
  margin-right: 25px;
}

.site-header {
  background: rgb(22, 22, 22);
  padding: 100px;
  margin: 68px 0 0;
  text-align: center;
  background-image: url("/images/background.jpg");
  font-size: 1.75rem;
  font-weight: 100;
  text-shadow: 4px 4px 5px rgb(22, 22, 22);
  color: rgb(241, 241, 241);
}

.main-content {
  color: rgb(200, 200, 200);
  margin: 0px 45px;
  background: rgb(40, 40, 50);
  display: grid;
  grid-template-columns: auto auto;
  padding: 25px;
}

.main-nav_link a.active {
  text-decoration: underline;
  color: white;
}

.main-nav_link a.inactive {
  text-decoration: none;
  color: rgb(168, 168, 168);
}

.main-nav_link a.active:hover {
  transition: color 0.3s;
  color: rgb(200, 200, 200);
  font-weight: 600;
}

.main-nav_link a.inactive:hover {
  transition: color 0.3s;
  color: rgb(200, 200, 200);
  font-weight: 600;
}

.sections {
  padding-right: 50px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: center;
  color: white;
  text-align: -internal-center;
}

table th {
  background-color: rgb(110, 110, 110);
}

table th,
table td {
  padding: 0.5em;
  border: 2px solid #999;
}
