html,
body {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

:root {
  --font_color: rgb(200, 200, 200);
  --nav_background: rgb(22, 22, 32);
  --background: rgb(22, 22, 22);
  --section_background: rgb(40, 40, 50);
  --table_border: rgb(153, 153, 153);
  --table_background: rgb(90, 90, 100);
}

body {
  background: var(--background);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: inherit;
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--nav_background);
  margin: 0px;
  padding: 5px 0px;
}

.main-nav {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.main-nav_link {
  margin-right: 25px;
}

.site-header {
  background: var(--background);
  padding: 100px;
  margin: 68px 0 0;
  text-align: center;
  background-image: url("/images/background.jpg");
  font-size: 1.75rem;
  font-weight: 100;
  text-shadow: 4px 4px 5px var(--background);
  color: var(--font_color);
}

.main-content {
  color: var(--font_color);
  margin: 0px 45px;
  background: var(--section_background);
  display: grid;
  grid-template-columns: auto auto;
  padding: 25px;
}

.main-nav_link a.active {
  text-decoration: underline;
  color: white;
}

.main-nav_link a.inactive {
  text-decoration: none;
  color: rgb(168, 168, 168);
}

.main-nav_link a.active:hover {
  transition: color 0.3s;
  color: var(--font_color);
  font-weight: 600;
}

.main-nav_link a.inactive:hover {
  transition: color 0.3s;
  color: var(--font_color);
  font-weight: 600;
}

.sections {
  padding-right: 50px;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 3px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: center;
  color: rgb(200, 200, 200);
  font-weight: 100;
  text-align: -internal-center;
}

table th {
  background-color: var(--table_background);
}

table th,
table td {
  padding: 0.5em;
  border: 1px solid var(--table_border);
}

a {
  color: var(--font_color);
}
